[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
indent_size = 4
insert_final_newline = true

[.github/workflows/*.yml]
indent_size = 2

[*.md]
indent_size = unset

# Special
[{Makefile,Makefile.*,tests/syntax_error/tab.jou}]
indent_style = tab

[valgrind-suppressions.sup]
indent_size = 3

[tests/syntax_error/indentation_not4.jou]
indent_size = 2

[tests/should_succeed/eof_newline_and_space.jou]
trim_trailing_whitespace = false
indent_size = unset
insert_final_newline = false

[tests/should_succeed/eof_no_newline.jou]
insert_final_newline = false

[tests/data/hellohellohello.txt]
insert_final_newline = false

# Silence editorconfig-checker for this funny Advent of Code input file
[examples/aoc2022/day05/sampleinput.txt]
trim_trailing_whitespace = false
indent_size = 1
indent_style = space
