[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
indent_size = 4

[.github/workflows/*.yml]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
indent_size = unset

# Special
[{Makefile,Makefile.*,tests/syntax_error/tab.jou}]
indent_style = tab

[valgrind-suppressions.sup]
indent_size = 3

[tests/syntax_error/indentation_not4.jou]
indent_size = 2
