# Trick github to highlighting Jou files as Python files.
*.jou linguist-language=python

# Large files that were very much not written by hand
tests/data/windows_arguments_quoting.txt linguist-generated
tests/tests_of_joutest/bad_configs/joutest_toml_is_very_big/joutest.toml linguist-generated
