/obj/
/tmp/
/jou
/jou.exe
/self_hosted_compiler
/self_hosted_compiler.exe
/*.dll
/compile_flags.txt
jou_compiled
/config.h
/config.jou

# Jou update files
/jou_update_info.json
/jou_update.zip
/jou_update

# this is a weird hack, see #103
/llvm_headers/

# codeblocks stuff
/bin/
/jou.depend
/jou.layout

# ide stuff
/.vscode/
