/tmp/
/jou_bootstrap
/jou
/config.jou
/mingw64
/mingw64.zip

# "windows_setup.sh --small" downloads a Jou release instead of mingw64.zip
/jou_windows_64bit_*.zip

*.dll
*.o
*.exe

# Jou update files
/jou_update_info.json
/jou_update.zip
/jou_update

# ide stuff
/.vscode/

# Advent of Code files https://adventofcode.com/
# Inputs are large text files, and each AoC user gets different input files.
# Tests use sampleinput.txt files, copied from problem descriptions.
#
# Creator of AoC tells people not to commit inputs to git. I also cannot
# commit problem descriptions to git because of copyright.
/examples/aoc*/day*/input
/examples/aoc*/day*/input.txt
/examples/aoc*/day*/puzzle.md

# LibreOffice lock file
.~lock.*#

# State file of check-markdown-links.py, goes to GitHub Actions cache, not committed to Git
links.json

# Perlin noise example. File may easily end up in examples folder or in project root.
perlin_noise.ppm

# Python stuff (bootstrap transpiler is written in Python)
env/

# Stuff that is no longer a thing but someone might still have locally
/libs
stb_image_write.h
out.png
examples/thingy.ppm

# Profiling stuff
callgrind.out
oldjou
