/obj/
/tmp/
/jou
/self_hosted_compiler
/compile_flags.txt
/config.h
/config.jou
/libs
/mingw64
/mingw64.zip

jou_compiled
*.dll
*.exe

# Jou update files
/jou_update_info.json
/jou_update.zip
/jou_update

# llvm_headers.zip once extracted
/llvm/
/llvm-c/

# ide stuff
/.vscode/
