# Modes:
#   "skip"               don't run test, show
#   "skip_silently"      don't even consider running the test
#   "run"                run the code, don't capture output
#   "ignore_output"      run the test, capture stdout, do nothing with it
#   "ignore_all_output"  run the test, capture stdout and stderr, do nothing with them
#   "check_output"       run the test, capture stdout, compare to "Output:" comments
#   "check_all_output"   run the test, capture stdout and stderr, compare to "Output:" and "Error:" comments
#
# There is no default mode, you need to set it yourself because conventions
# vary a lot among projects.
#
# To figure out how a file is tested, each thing in [[files]] array is applied
# in order, overriding settings from the previous ones.


# ------------------------------------------------------------------
# -------- Documentation tests (doctests) in markdown files --------
# ------------------------------------------------------------------

[[files]]
glob = "**/*.md"
mode = {default = "check_all_output", no_expected_output = "skip_silently", valgrind = "skip"}


# ------------------------------------
# -------- examples directory --------
# ------------------------------------

[[files]]
glob = "examples/*.jou"
mode = "check_all_output"

[[files]]
glob = "examples/aoc*/day*/part*.jou"
mode = "check_all_output"
cd_to_containing_directory = true  # needed for open("sampleinput.txt", "r") to work

# This program doesn't interact nicely with automated tests at all.
[[files]]
glob = "examples/memory_leak.jou"
mode = "skip"


# ---------------------------------
# -------- tests directory --------
# ---------------------------------

[[files]]
glob = "tests/*/*.jou"
mode = {default = "check_all_output", valgrind = "skip"}
exit_code_should_be = 1

# These don't inherit exit code from above. Last matching [files."..."] is used.
[[files]]
glob = "tests/should_succeed/*.jou"
mode = "check_all_output"  # Do not skip when valgrinding (overrides setting from above)
exit_code_should_be = 0

[[files]]
glob = "tests/should_succeed/double_dotdot_import/*/*.jou"
mode = "check_all_output"

# This test links with LLVM, and somehow just linking with LLVM leaks memory
# when the program starts, even if it is never called.
[[files]]
glob = "tests/should_succeed/compiler_unit_tests.jou"
mode = {default = "check_all_output", valgrind = "skip"}

# Idea:
# warning: section [files."tests/should_sucede/*.jou"] on line 123 did not apply to any files

# Crashing tests are a bit special. They should fail, and output varies by platform.
[[files]]
glob = "tests/crash/*.jou"
mode = {default = "skip", O0 = "ignore_all_output"}
exit_code_should_be = 1


# ----------------------------------------------------
# -------- availability of libraries handling --------
# ----------------------------------------------------

[library_availability.liblzma_dynamic]
default = false
# Test if pkg-config knows where liblzma dynamically linked library is, or if
# it's directly in /usr/lib. In either case the linker will find it.
posix = {run = """( pkg-config --exists liblzma || (set -- /usr/lib/liblzma.so* && [ -f "$1" ]) ) > /dev/null"""}

[library_availability.liblzma_static]
default = false
posix = {run = "[ -f `pkg-config --variable=libdir liblzma 2>/dev/null`/liblzma.a ]"}

[library_availability.liblzma_copied]
default = false
# If liblzma.a exists, we also copy it to temporary folder.
# If it doesn't exist, the copying fails and that tells the test runner to skip.
posix = {run = """
mkdir -p tmp/tests
libdir="`pkg-config --variable=libdir liblzma 2>/dev/null || echo /usr/lib`"
cp "$libdir/liblzma.a" tmp/tests/
"""}


# ---------------------------------
# -------- output handling --------
# ---------------------------------

[expected_output.substitute]
"<joudir>" = {absolute_path = "."}
"<jouexe>" = {default = "./jou", windows = "jou.exe"}
"<intnative>" = {default = "int64", 32bit = "int"}
"<pointersize>" = {default = "8", 32bit = "4"}

# On MacOS, silence a linker warning that appears whenever linking
# with LLVM. I don't know what causes the warning.
#
# See: https://github.com/Akuli/jou/issues/1005
[actual_output.remove_lines]
default = []
[[actual_output.remove_lines.macos]]
contains = "ld: warning: reexported library with install name"
