on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Testing all levels because there was a bug that only happened with -O1. (#224)
        # Please keep in sync with valgrind.yml and macos.yml
        params:
          # Oldest version: all opt levels
          - { llvm-version: 15, opt-level: '-O0' }
          - { llvm-version: 15, opt-level: '-O1' }
          - { llvm-version: 15, opt-level: '-O2' }
          - { llvm-version: 15, opt-level: '-O3' }
          # Most versions: just one opt level to save time
          - { llvm-version: 16, opt-level: '-O1' }
          - { llvm-version: 17, opt-level: '-O1' }
          - { llvm-version: 18, opt-level: '-O1' }
          - { llvm-version: 19, opt-level: '-O1' }
          # Latest version: all opt levels
          - { llvm-version: 20, opt-level: '-O0' }
          - { llvm-version: 20, opt-level: '-O1' }
          - { llvm-version: 20, opt-level: '-O2' }
          - { llvm-version: 20, opt-level: '-O3' }
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch the whole Git history for bootstrapping
      - name: "Install apt packages"
        # liblzma-dev is for testing the `link` keyword, there is a test that decompresseses .xz file
        run: |
          PACKAGES="llvm-${{ matrix.params.llvm-version }}-dev clang-${{ matrix.params.llvm-version }} make valgrind liblzma-dev"
          sudo apt install -y $PACKAGES || (sudo apt update && sudo apt install -y $PACKAGES)
      - name: "Select LLVM version"
        run: echo "LLVM_CONFIG=llvm-config-${{ matrix.params.llvm-version }}" >> $GITHUB_ENV
      - name: "Compile and test"
        run: ./runtests.sh --verbose --jou-flags "${{ matrix.params.opt-level }}"
      - name: "Compile the compiler with itself"
        run: ./jou -o jou2 compiler/main.jou && mv jou2 jou
      - name: "Compile and test again"
        run: ./runtests.sh --verbose --jou-flags "${{ matrix.params.opt-level }}"
      # Valgrinding all files is slow, but let's valgrind the hello world.
      # This is enough to catch many bugs.
      #
      # We also have a separate, "full" valgrind run. See valgrind.yml.
      - name: "Run hello world with valgrind"
        run: ./runtests.sh --verbose --jou-flags "${{ matrix.params.opt-level }}" --valgrind hello
      - run: ./doctest.sh
