name: "Linux aarch64"

on:
  # This is super slow in GitHub Actions because we need to emulate aarch64 CPU.
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:  # Can also be triggered manually from github UI
  pull_request:
    paths:
      - .github/workflows/linux-aarch64.yml  # Run whenever this file is modified

jobs:
  # Please keep in sync with macos.yml and linux-aarch64.yml
  check-if-needed:
    timeout-minutes: 1
    runs-on: ubuntu-latest
    outputs:
      needed: ${{ steps.check.outputs.run }}
    steps:
      - uses: actions/checkout@v4
      - id: check
        run: |
          if [ "$GITHUB_EVENT_NAME" == "workflow_dispatch" ]; then
            echo "Triggered manually"
            echo "run=true" >> $GITHUB_OUTPUT
          elif [ "$GITHUB_REPOSITORY" != "Akuli/jou" ]; then
            echo "This is a fork of Jou, skipping"
            echo "run=false" >> $GITHUB_OUTPUT
          elif git --no-pager log --oneline --since="24 hours ago" --exit-code; then
            echo "No recent commits, skipping"
            echo "run=false" >> $GITHUB_OUTPUT
          else
            echo "run=true" >> $GITHUB_OUTPUT
          fi

  test:
    needs: [check-if-needed]
    if: ${{ needs.check-if-needed.outputs.needed == 'true' }}
    timeout-minutes: 75  # Bootstrapping and running all the tests in qemu VM is REALLY slow.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch the whole Git history for bootstrapping
      - run: sudo apt update && sudo apt -y install --no-install-recommends qemu-system-aarch64 qemu-efi-aarch64 ipxe-qemu
      - uses: actions/cache@v5
        with:
          path: vm/alpine-aarch64
          key: alpine-aarch64-${{ hashFiles('.github/workflows/alpine.yml', 'vm/alpine.sh', 'vm/download.sh') }}
      - run: vm/alpine.sh aarch64 echo hello
      - run: vm/alpine.sh aarch64 git clean -ffdx -e tmp/bootstrap_cache
      - run: vm/alpine.sh aarch64 ./runtests.sh --verbose
      - run: vm/alpine.sh aarch64 ./jou -o jou2 compiler/main.jou
      - run: vm/alpine.sh aarch64 mv jou2 jou
      - run: vm/alpine.sh aarch64 ./runtests.sh --verbose
      - name: Shut down VM
        run: |
          ! vm/alpine.sh aarch64 /sbin/poweroff  # ssh should fail here
          while kill -0 $(cat vm/alpine-aarch64/pid.txt); do sleep 1; done
          rm vm/alpine-aarch64/pid.txt

  # Please keep in sync with valgrind.yml and macos.yml
  create-issue-on-failure:
    name: Create an issue if failed
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: [check-if-needed, test]
    if: ${{ github.event_name != 'pull_request' && github.repository == 'Akuli/jou' && always() && needs.check-if-needed.outputs.needed == 'true' && needs.test.result == 'failure' }}
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v4
      - run: ./create_issue.sh "${{ secrets.GITHUB_TOKEN }}" "Running tests on linux aarch64 failed"
