on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch the whole Git history
      - run: sudo apt update && sudo apt -y install qemu-system-aarch64
      - run: vm/netbsd.sh amd64 ./runtests.sh --verbose
      - run: vm/netbsd.sh amd64 ./jou -o jou2 compiler/main.jou
      - run: vm/netbsd.sh amd64 mv jou2 jou
      - run: vm/netbsd.sh amd64 ./runtests.sh --verbose
