name: "NetBSD"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch the whole Git history
      - run: sudo apt update && sudo apt -y install qemu-system-x86 netcat-traditional
      - uses: actions/cache@v5
        with:
          path: |
            vm/netbsd-amd64
            vm/key
            vm/key.pub
          key: netbsd-${{ hashFiles('.github/workflows/netbsd.yml', 'vm/netbsd.sh', 'vm/download.sh') }}
      - run: vm/netbsd.sh amd64
      - run: vm/ssh.sh cd jou '&&' git clean -ffdx -e tmp/bootstrap_cache
      - run: vm/ssh.sh cd jou '&&' ./runtests.sh --verbose
      - run: vm/ssh.sh cd jou '&&' ./jou -o jou2 compiler/main.jou
      - run: vm/ssh.sh cd jou '&&' mv jou2 jou
      - run: vm/ssh.sh cd jou '&&' ./runtests.sh --verbose
      - name: Shut down VM
        run: |
          ! vm/ssh.sh /sbin/poweroff  # should fail with "unexpected" disconnected
          while kill -0 $(cat vm/netbsd-amd64/pid.txt); do sleep 1; done
          rm vm/netbsd-amd64/pid.txt
