on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch the whole Git history
      - run: sudo apt update && sudo apt -y install qemu-system-x86
      - uses: actions/cache@v5
        with:
          path: vm/netbsd-amd64
          key: netbsd-${{ hashFiles('vm/*.sh') }}
      - run: vm/netbsd.sh amd64 echo hello
      - run: vm/netbsd.sh amd64 ./runtests.sh --verbose
      - run: vm/netbsd.sh amd64 ./jou -o jou2 compiler/main.jou
      - run: vm/netbsd.sh amd64 mv jou2 jou
      - run: vm/netbsd.sh amd64 ./runtests.sh --verbose
      - name: Shut down VM
        run: |
          ! vm/netbsd.sh amd64 /sbin/poweroff  # ssh should fail here
          while kill -0 $(cat vm/netbsd-amd64/pid.txt); do sleep 1; done
