name: "Release"

#
#
#
# *** If you edit this file, make sure that CONTRIBUTING.md stays up to date.
#
#
#
on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:  # Can also be triggered manually from github UI

jobs:
  release:
    # Run it on forks only if triggered manually
    if: ${{ github.repository == 'Akuli/jou' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Fetch the whole Git history, used for release description
      - run: ./release.sh --github-token "${{ secrets.GITHUB_TOKEN }}"
