name: "Valgrind"

# Runs tests with valgrind. That catches various memory bugs, but is too slow
# for running in every pull request.

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:  # Can also be triggered manually from github UI

jobs:
  # Please keep in sync with: macos.yml, valgrind.yml, linux-aarch64.yml, raspios.yml
  check-if-needed:
    timeout-minutes: 1
    runs-on: ubuntu-latest
    outputs:
      needed: ${{ steps.check.outputs.run }}
    steps:
      - uses: actions/checkout@v6
      - id: check
        run: |
          if [ "$GITHUB_EVENT_NAME" == "workflow_dispatch" ]; then
            echo "Triggered manually"
            echo "run=true" >> $GITHUB_OUTPUT
          elif [ "$GITHUB_REPOSITORY" != "Akuli/jou" ]; then
            echo "This is a fork of Jou, skipping"
            echo "run=false" >> $GITHUB_OUTPUT
          elif git --no-pager log --oneline --since="24 hours ago" --exit-code; then
            echo "No recent commits, skipping"
            echo "run=false" >> $GITHUB_OUTPUT
          else
            echo "run=true" >> $GITHUB_OUTPUT
          fi

  valgrind:
    needs: [check-if-needed]
    if: ${{ needs.check-if-needed.outputs.needed == 'true' }}
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      matrix:
        # Testing all levels because there was a bug that only happened with -O1. (#224)
        # Please keep in sync with linux.yml and macos.yml
        params:
          # Oldest version: all opt levels
          - { llvm-version: 15, opt-level: '-O0' }
          - { llvm-version: 15, opt-level: '-O1' }
          - { llvm-version: 15, opt-level: '-O2' }
          - { llvm-version: 15, opt-level: '-O3' }
          # Most versions: just one opt level to save time
          - { llvm-version: 16, opt-level: '-O1' }
          - { llvm-version: 17, opt-level: '-O1' }
          - { llvm-version: 18, opt-level: '-O1' }
          - { llvm-version: 19, opt-level: '-O1' }
          # Latest version: all opt levels
          - { llvm-version: 20, opt-level: '-O0' }
          - { llvm-version: 20, opt-level: '-O1' }
          - { llvm-version: 20, opt-level: '-O2' }
          - { llvm-version: 20, opt-level: '-O3' }
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Fetch the whole Git history for bootstrapping
      - name: "Install apt packages"
        run: |
          PACKAGES="llvm-${{ matrix.params.llvm-version }}-dev clang-${{ matrix.params.llvm-version }} make valgrind liblzma-dev"
          sudo apt install -y $PACKAGES || (sudo apt update && sudo apt install -y $PACKAGES)
      - run: LLVM_CONFIG=llvm-config-${{ matrix.params.llvm-version }} make
      - name: "Test compiler with valgrind"
        run: ./runtests.sh --verbose --valgrind --jou-flags "${{ matrix.params.opt-level }}"

  # Please keep in sync with macos.yml and linux-aarch64.yml
  create-issue-on-failure:
    name: Create an issue if failed
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: [check-if-needed, valgrind]
    if: ${{ github.repository == 'Akuli/jou' && always() && needs.check-if-needed.outputs.needed == 'true' && needs.valgrind.result == 'failure' }}
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v6
      - run: ./create_issue.sh "${{ secrets.GITHUB_TOKEN }}" "Running tests with valgrind failed"
